<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- the above specifies that this is a Hibernate config file
	 with a certain DTD (Document Type Definition) -->
<!-- the file is considered "valid" if it matches the DTD -->
<!-- an XML file can be "well-formed" without being "valid" -->
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to start fresh or update existing ddl -->
		<!-- update by default -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.revature.beans.Category"></mapping>
		<mapping class="com.revature.beans.Flashcard"></mapping>
	</session-factory>
</hibernate-configuration>